body
{
    background-color: #fff9f8;
    position: relative;
}
.header
{
    position: relative;
}
a:link
{
    text-decoration: none;
}
.navbar
{
    position: absolute;
    padding-top: 30px;
}
.nav-button
{
    background-color: #b6c4bb; /* Green */
    border: none;
    padding: 10px 32px;
    color: #fff9f8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}
h1
{
    color: #b6c4bb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0.5px, 0.5px, 2px, #adb8b1;
    font-size: 50px;
}
.title
{
    position: absolute;
    margin-left: 47%;
    margin-top: 5%;
}
h3
{
    color: #b6c4bb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0.5px, 0.5px, 2px, #adb8b1;
    font-size: 22px;
}
p
{
    color: #707070;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-shadow: 0.5px, 0.5px, 2px, #707070;
}
.content img
{
    height: 250px;
    width: auto;
}
.content
{
    position: relative;
}
#section1
{
    position: absolute;
    margin-top: 15%;
    left: 7%;
    margin-right: 70%;
}
#section1 img
{
    margin-left: 30px;
}
#section1 h3
{
    text-align: center;
}
#section2
{
    position: absolute;
    margin-top: 15%;
    margin-right: 38%;
    left: 39%;
}
#section2 img
{
    margin-left: 30px;
}
#section2 h3
{
    text-align: center;
}
#section3
{
    position: absolute;
    margin-top: 15%;
    margin-right: 7%;
    left: 70%;
}
#section3 img
{
    margin-left: 30px;
}
#section3 h3
{
    text-align: center;
}
.profile-card
{
    position: relative;
    left: -500px;
    bottom: -150px;
    width: 400px;
    padding-top: 5%;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.recent-activity
{
    position: relative;
    left: 500px;
    bottom: 850px;
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.image-container
{
    position: relative;
}
.main-container
{
    padding: 20px;
}

.skill-bar
{
    background-color: #bdc9ea;
    border-radius: 16px;
}
.progress-bar
{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color:#4b4fe2;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
}

body:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    z-index: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
    text-align: center;
    color: #128ff2;
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

input {
    font-size: 1rem;
}

input[type="file"] {
    border: 1px solid #128ff2;
    padding: 6px;
    max-width: 100%;
}

.file-input {
    width: 100%;
}
/* 
.submit-btn {
    display: block;
    margin-top: 15px;
    min-width: 100px;
} */

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

/*     .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    } */
}


.upload-container {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
      margin-top: 60px;
      min-height: 400px;
      position: relative;
      padding: 20px;
}

.upload-header {
    border-bottom: 1px solid #ececec;
}

.upload-header h2 {
    font-weight: 500;
}

.single-upload {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
}

td.p {
	color: #707070;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
