<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <meta name="description" content="Greenr - a space for community change">
    <meta name="author" content="group 41">
    <link rel="stylesheet" type="text/css" href="../static/css/contact-us.css">
</head>
<body>
    <div class="navbar">
        <a href="">
            <button class="nav-button" id="homebutton">HOME</button>
        </a>
        <a href="">
            <button class="nav-button">COMMUNITY</button>
        </a>
        <a href="">
            <button class="nav-button">AQI</button>
        </a>
        <a href="./who-we-are.html">
            <button class="nav-button">ABOUT US</button>
        </a>
        <a href="">
            <button class="nav-button">CONTACT US</button>
        </a>
        <a href="./faq.html">
            <button class="nav-button">FAQ</button>
        </a>
        <a href="">
            <button class="nav-button" id="yourprofile" >YOUR PROFILE</button>
        </a>
    </div>
    <div class="content-page">

    </div>
</body>
</html>
