<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <meta name="description" content="Greenr - a space for community change">
    <meta name="author" content="group 41">
    <link rel="stylesheet" type="text/css" href="../static/css/contact-us.css">
</head>
<body>

    <!-- Nav bar -->
    <div class="navbar">
        <a href="">
            <button class="nav-button" id="homebutton">HOME</button>
        </a>
        <a href="">
            <button class="nav-button">COMMUNITY</button>
        </a>
        <a href="">
            <button class="nav-button">AQI</button>
        </a>
        <a href="">
            <button class="nav-button">ABOUT US</button>
        </a>
        <a href="">
            <button class="nav-button">CONTACT US</button>
        </a>
        <a href="">
            <button class="nav-button">FAQ</button>
        </a>
        <a href="">
            <button class="nav-button" id="yourprofile" >YOUR PROFILE</button>
        </a>
    </div>

    <!-- Contact Us Content -->
    <div class="contact-us-content">

        <section id="customer-support">
            <img src="../static/img/customer-support.png" height="200" alt="customer support visual">
            <h3>Need help?</h3>
            <p>Get in touch with our customer support team</p>
        </section>

        <section id="business">
            <img src="../static/img/business.png" height="200" alt="business enquiries visual">
            <h3>Business Enquiries</h3>
            <p>businessenquiries@greenr.com</p>
        </section>

        <section id="newsletter">
            <img src="../static/img/email.png" height="200" alt="newsletter visual">
            <h3>Subscribe to our newsletter!</h3>
            <button>Subscribe</button>
        </section>
    </div>
</body>
</html>
