<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <!--Begin meta tags-->
        <title>About Us</title>
        <meta name="description" content="Greenr - a space for community change">
        <meta name="keywords" content="">
        <meta name="author" content="group 41">
        <!--End meta tags-->
        <!--Begin CSS files-->
        <link rel="stylesheet" type="text/css" href="css/error.css">
        <!--End CSS files-->
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <a th:href="@{/welcome-screen}">
                    <button class="nav-button">Home</button>
                </a>
                <a href="/listPosts.html">
                    <button class="nav-button">Community</button>
                </a>
                <a th:href="@{/aqi}">
                    <button class="nav-button">AQI</button>
                </a>
                <a th:href="@{/who-we-are}">
                    <button class="nav-button">About Us</button>
                </a>
                <a th:href="@{/contact-us}">
                    <button class="nav-button">Contact Us</button>
                </a>
                <a th:href="@{/profile}">
                    <button class="nav-button">Your Profile</button>
                </a>
                <a th:href="@{/newPost}">
                    <button class="nav-button">Create Post</button>
                </a>
                <a th:href="@{/logout}">
                    <button class="nav-button">Logout</button>
                </a>
            </div>
            <br>
            <br>
			<div class = "text">
                <h1>Sorry for the inconvenience!</h1>
                <img src="img/sad-dog.jpg" id="image">
				<p>You are seeing this page because an error occurred. Please try reloading the page or come back at a later time.</p>
			</div>  
    </body>
</html>