<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>posts</title>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
</head>

<body>
	<div class="col-12">
		<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd">
			<ul class="navbar-nav">
				<a class="nav-link font-weight-bold ms-4 me-5" th:href="@{/welcome-screen}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold me-5" href="/listPosts.html">Community</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold me-5" th:href="@{/aqi}">AQI</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold me-5" th:href="@{/who-we-are}">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold me-5" th:href="@{/contact-us}">Contact Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold me-5" th:href="@{/faq}">FAQ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-weight-bold me-5" th:href="@{/newPost}">Create Post</a>
				</li>
				<li class="nav-item" style="padding-right: 940px;">

				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Account
					</a>
					<div class="dropdown-menu" style="right: 0;left: auto;" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/profile}">Your Profile</a>
						<a class="dropdown-item" th:href="@{/logout}">Logout</a>
					</div>
				</li>
			</ul>
		</nav>
		<hr>
		<h3 class="text-center">List of Posts</h3>
		<hr>
		<div class="px-3">
			<table class="table table-bordered align-middle table-hover">
				<thead class="table-dark">
					<tr>
						<th scope="col" style="text-align: center; width: 10%">Title</th>
						<th scope="col" style="text-align: center; width: 70%">Description</th>
						<th scope="col" style="text-align: center; width: 5%">Image</th>
						<th scope="col" style="text-align: center; width: 7%">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${posts}">
						<td>[[*{post.postName}]]</td>
						<td>[[*{post.postDesc}]]</td>
						<td scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{post.image}}"
								style="width: 125px; height: 125px;"></td>
						<td>
							<div class="col text-center">
								<button type="button" class="btn btn-success btn-sm mt-2" data-bs-toggle="modal"
									th:attr="data-bs-target='#titleModal'+*{post.postID}">
									Edit title</button>
								<!-- Modal -->
								<div class="modal fade" th:id="*{'titleModal'+{post.postID}}" tabindex="-1"
									aria-labelledby="titleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="titleModalLabel">Edit post title</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form th:action="@{/editTitle}" method="post">
													<div class="form-group">
														<input type="hidden" th:value="*{post.postID}"
															class="form-control" name="id"> <input type="text"
															name="newPostTitle" class="form-control">
														<br>
														<button type="submit" class="btn btn-success">Submit</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-success btn-sm mt-2" data-bs-toggle="modal"
									th:attr="data-bs-target='#descModal'+*{post.postID}">
									Edit description</button>
								<!-- Modal -->
								<div class="modal fade" th:id="*{'descModal'+{post.postID}}" tabindex="-1"
									aria-labelledby="descModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="descModalLabel">Edit
													description</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form th:action="@{/editDescription}" method="post">
													<div class="mb-3">
														<input type="hidden" th:value="*{post.postID}"
															class="form-control" name="id">
														<textarea class="form-control" name="newPostDesc"
															rows="6"></textarea>
													</div>
													<button type="submit" class="btn btn-success">Submit</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<a th:href="@{/deletePost/{id}(id=${post.postID})}"
									class="btn btn-danger btn-sm mt-2">Delete post</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<script src="js/bootstrap.js"></script>
</body>

</html>