<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Create Post</title>
  <meta charset="ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/posts.css" rel="stylesheet" />
</head>

<body class="banner-wrap">
  <div>
    <div class="col-12">
      <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd">
        <ul class="navbar-nav">
          <a class="nav-link font-weight-bold ms-4 me-5" th:href="@{/welcome-screen}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold me-5" href="/listPosts.html">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold me-5" th:href="@{/aqi}">AQI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold me-5" th:href="@{/who-we-are}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold me-5" th:href="@{/contact-us}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold me-5" th:href="@{/newPost}">Create Post</a>
          </li>
          <li class="nav-item" style="padding-right: 940px;">

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" style="right: 0;left: auto;" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" th:href="@{/profile}">Your Profile</a>
              <a class="dropdown-item" th:href="@{/logout}">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
      <hr style="height:2px;color:white;background-color:white;">
      <h3 class="text-center" style="color: white;">Create new post</h3>
      <hr style="height:2px;color:white;background-color:white;">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <form th:action="@{/addPost}" method="Post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="title">Post title</label>
                  <input type="text" name="p_title" id="title" class="form-control" placeholder="Give your post a title and Location!(e.g.Urgent Cleanup- London, Highbury)"/>
                  <label for="description">Post description</label>
                  <textarea name="p_desc" class="form-control" rows="7" placeholder="e.g. Give exact location, the problem that has arose, time/date for meetup etc"></textarea>
                  <br />
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input</label>
                    <input class="form-control" type="file" name="file" id="formFile"/>
                  </div>
                  <div class="col text-center pt-2">
                    <button type="submit" class="btn btn-success">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/bootstrap.js"></script>
</body>

</html>