<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <!--Begin meta tags-->
        <title>Profile</title>
        <meta name="description" content="Greenr - a space for community change">
        <meta name="keywords" content="">
        <meta name="author" content="group 41">
        <!--End meta tags-->
        <!--Begin CSS files-->
        <link rel="stylesheet" type="text/css" href="css/profile.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!--End CSS files-->
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <a th:href="@{/welcome-screen}">
                    <button class="nav-button">Home</button>
                </a>
                <a href="/listPosts.html">
                    <button class="nav-button">Community</button>
                </a>
                <a th:href="@{/aqi}">
                    <button class="nav-button">AQI</button>
                </a>
                <a th:href="@{/who-we-are}">
                    <button class="nav-button">About Us</button>
                </a>
                <a th:href="@{/contact-us}">
                    <button class="nav-button">Contact Us</button>
                </a>
                <a th:href="@{/profile}">
                    <button class="nav-button">Your Profile</button>
                </a>
                <a th:href="@{/newPost}">
                    <button class="nav-button">Create Post</button>
                </a>
                <a th:href="@{/logout}">
                    <button class="nav-button">Logout</button>
                </a>
            </div>
            
        

            <div class="profile-card">
                <div class="image-container">
                	<!-- <img th:src="@{/user-photos/4/image.jpg}" /> -->
                	<!-- <img th:src="@{${user.id}}"/> -->
                	<img th:src="*{userprofile.phototsImagePath}" style="width: 100%"/>
	                    <div class="profile-title">
                        <h3><td class = "p" th:text="*{userprofile.firstName} + ' ' + *{userprofile.lastName}"/></h3>
                    </div>
                   
                 </div>
                 <form action="#" th:action="@{/save}"
              		method="post">
                    <div class="main-container">
                     <input type="hidden" th:field="*{userprofile.id}" />
                        <p><i class="fas fa-briefcase"></i> Short Description</p>
                        <p>
                        <table border="0">
                        <tr>
                        	<td class = "p">Location: </td>
                        	<td class = "p">London, England</td>
                        </tr>
                        <tr>
                        	<td class = "p">Username: </td>
                        	<td class = "p" th:text="*{userprofile.username}"/>
                        </tr>
                        <tr>
                        	<td class = "p">Email Address:</td>
                        	<td class = "p" th:text="*{userprofile.email}"/>
                        </tr>
                        <tr>
                        	<td class = "p">First Name:</td>
                        	<td class = "p"><input type="text" th:field="*{userprofile.firstName}" /> </td>
                        </tr>
                        <tr>
                        	<td class = "p">Surname:</td>
                        	<td class = "p"><input type="text" th:field="*{userprofile.lastName}" /> </td>
                        </tr>
                        <tr>
                        	<td class = "p">Date of Birth: </td>
                        	<td class = "p" th:text="*{userprofile.DoB}"/>
                        </tr>
                        <tr>
                        <td colspan="2"> <button type = "submit" class="primary submit-btn">Update</button></td>
                        </tr>
                        </table>
                        


                         </p>
                  </form>
				<form class="textbox" th:action="@{/deletebyuser}" method="POST">
					<input type="submit" name="button1" value="Delete Account">
				</form>
				
				<form id = "singleUploadForm" name="singleUploadForm">
						<input id="singleFileUploadInput" type="file" name="file" accept="image/png, image/jpeg" class="file-input" required/>
						<button type = "submit" class="primary submit-btn">Upload Photo</button>
				</form>
				<div class="upload-response">
					<div id="singleFileUploadError"></div>
					<div id="singleFileUploadSuccess"></div>
				</div>
				        <hr>
                        <h3><b>Recently Spotted</b></h3>
                        <p> Alex Shaw</p>
                        <p> Emma Dior</p>
                        <p> Jenna Harper</p>    
                    </div>

             </div>

             <div class="recent-activity">
                <div class="image-container">
                    <img src="./img/beach.jpeg" style="width: 100%">
                    <div class="profile-title">
                        <h3>Most Recent Activity</h3>
                        <p> Waikiki Beach, Oahu</p>
                    </div>
                 </div>
                    <div class="main-container">
                        <p>Completion</p>
                        <div class="skill-bar">
                            <div class="progress-bar" style="width: 80%">80%

                            </div>
                        </div>
                    </div>
             </div>
            </div>
            <script src="/js/app.js"></script>
    </body>
</html>