<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" type="text/css" href="../static/css/registration.css">
    </head>
    <body>
        <br>
        <br>
        <!-- Create HTML registration form -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-box">
                        <div class="form-group">

                            <h1>Registration</h1>
                            <form th:action="@{/registration}" method="post" th:object="${user}">

                                <div class="form-group">
                                    <p> First Name: </p>
                                    <input id="firstName" class="form-control"
                                        th:field="*{firstName}" required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                <p> Last Name: </p>
                                <input id="lastName" class="form-control"
                                    th:field="*{lastName}" required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                <p> Email: </p>
                                <input id="email" class="form-control"
                                    th:field="*{email}" required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                <p> Password: </p>
                                <input id="password" class="form-control" type="password"
                                    th:field="*{password}" required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                <p> Date of Birth: </p>
                                <input id="DoB" class="form-control"
                                    th:field="*{DoB}" required autofocus="autofocus" />
                                </div>

                                <div class="form-group">
                                <button type="submit" class="btn btn-success">Register</button>
                                <span>Already registered? <a href="/" th:href="@{/login}">Login
                                        here</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>