<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" 
  content="width=device-width, 
  initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge">
  <title>Welcome to Greenr!</title>
  <link rel="stylesheet" href="css/welcome-screen.css">
</head>
<body>
    
    <header class="v-header container">
        
        <div class="fullscreen-video-wrap">
          <video src="video/intro-main.mp4"
          autoplay="true"
          loop="true">
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        
      <h2>Welcome to Greenr</h2>
      <p>Greenr is a newly built web application used to make communities a happier and cleaner place for all! </p>
      

      <a th:href="@{/profile}">
        <button class="nav-button">Get Started</button>
    </a>
    </div>
  </header>

    </header>
</body>
</html>